.feynman__link {
  text-decoration: none;
  color: #2f80ed;
  top: 50%;
  right: 48px;
  position: absolute;
  font-size: 36px;
  font-weight: 400;
  z-index: 1;
  line-height: 51px;
  margin: 0;
}

.feynman__link:hover{
  transition: 0.3s ease;
  opacity: .7;
}

.feynman {
  min-height: 790px;
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  position: relative;
  margin: 0 0 100px;
  padding-top: 80px;
}

.feynman__title{
  width: 648px;
  text-align: center;
  margin: 0 auto 70px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 700;
  z-index: 1;
}

.feynman__subtitle{
  line-height: 51px;
  text-align: center;
  margin: 0 auto;
  font-size: 36px;
  font-weight: 400;
  z-index: 1;
}

.feynman__image{
  width: 867px;
  height: 637px;
  position: absolute;
  bottom: 0;
  left: 0;
}
