a{
  text-decoration: none;
  color: #2f80ed;
}

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
  color:  #000000;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  background-color: #f2f2f2;
  position: relative;
  margin-bottom: 100px;
        /* выше установили ограничения для секции */
}

.logo__place_header{
  /*Позиционируйте элемент абсолютно. Следите, чтобы на малых
разрешениях логотип был поверх других блоков. Свойства
позиционирования указывайте для модификаторов.*/
  background-image: url(../images/logo_place_header.svg);
  width: 183px;
  height: 32px;
  z-index: 1;
  margin-top: 30px;
  margin-left: 64px;
  position: absolute;
}

.header__title{
  /*Используйте flex для вертикального центрирования элемента, а отступ
для смещения вправо. Следите, чтобы на малых разрешениях текст был
поверх других блоков Высота строки 96px, размер шрифта 102px, начертание шрифта
полужирное*/
  width: 730px;
  margin: auto 0 auto 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
  z-index: 1;

}

.header__subtitle{
  /*Позиционируйте элемент абсолютно, следите, чтобы на малых
разрешениях текст был поверх других блоков Высота строки 25px,
размер шрифта 18px, начертание шрифта нормальное*/
  width: 388px;
  bottom: 30px;
  left: 64px;
  position: absolute;
  font-size: 18px;
  font-weight: 100;
  z-index: 1;
  line-height: 25px;
  margin: 0;
}

.header__main-illustration{
  /*Позиционируйте элемент абсолютно. Прижмите его к правому
нижнему краю блока header. При использовании картинок, не
забывайте обязательный атрибут alt*/
  width: 765px;
  height: 608px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  /*Позиционируйте элемент абсолютно. Он должен быть прижат к
правому краю и отступать сверху от границы блока header*/
  height: 568px;
  width: 568px;
  position: absolute;
  background-color: #2f80ed;
  top: 64px;
  right: 0;
}

.description{
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.two-columns{
  display: flex;
  width: 80%;
  justify-content: space-between;
}

.two-columns__brief{
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  line-height: 1.2;
  width: 175px;
  margin: 0;
}

.right_column{
  width: 80%;
}

.two-columns__main-text{
  font-size: 24px;
  font-weight: 100;
  line-height: 34px;
  min-width: 784px;
  margin: 0 auto;
}

.two-columns__paragraph{
  margin-bottom: 30px;
}

.two-columns__paragraph:last-of-type{
  margin: 0;
}

.two-columns__span-accent{
  font-weight: 600;
}

.digits{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.section-title{
  margin: 0 auto 20px;
  display: flex;
  justify-content: center;
  font-size: 60px;
  width: 60%;
  line-height: 1.15;
  font-weight: 600;
}

.section-subtitle{
  display: flex;
  justify-content: center;
  font-size: 24px;
  width: 60%;
  margin: 0;
  line-height: 34px;
  font-weight: 100;
}

.table{
  display: flex;
  flex-direction: row;
  width: 1100px;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  list-style-position: inside;
  margin: 0;
  padding: 0;
}

.table__cell{
  width: 250px;
  margin-top: 60px;
}

.table__heading{
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  margin: 0 0 20px;
}

.table__text{
  line-height: 1.2;
  font-size: 18px;
  font-weight: 100;
  margin-top: 0;
}

.table__text_footnote{
margin: 0;
}

.feynman {
  height: 790px;
  display: flex;
  background-color: #f2f2f2;
  position: relative;
  margin: 0;
}

.feynman__heading{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.feynman__title{
  width: 648px;
  text-align: center;
  margin: 0 auto 70px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
  z-index: 1;
}

.feynman__subtitle{
  line-height: 51px;
  text-align: center;
  margin: 0;
  font-size: 36px;
  font-weight: 100;
  z-index: 1;
}

.feynman__link{
  bottom: 50%;
  right: 48px;
  position: absolute;
  font-size: 36px;
  font-weight: 100;
  z-index: 1;
  line-height: 51px;
  margin: 0;
}

.feynman__image{
  width: 867px;
  height: 637px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.kaufman{
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  margin: 0 auto 0;
  background-color:  #1f1f1f;
  overflow: hidden;
  }

.section-title_theme_dark{
  color: white;
  margin: 90px auto 20px;
  display: flex;
  justify-content: center;
  font-size: 60px;
  width: 60%;
  line-height: 1.15;
  font-weight: 600;
}

.section-subtitle_theme_dark{
  color: white;
  display: flex;
  justify-content: center;
  font-size: 24px;
  width: 60%;
  margin: 0;
  line-height: 34px;
  font-weight: 100;
}

.table_theme_dark{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  list-style-position: inside;
  padding: 0;
  z-index: 1;
}
.table__heading_theme_dark{
  display: flex;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  margin: 0 0 20px;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.table__cell_theme_dark_margin_bottom{
  margin-bottom: 90px;
}

.table__text_theme_dark{
  display: flex;
  line-height: 1.2;
  font-size: 18px;
  font-weight: 100;
  margin: 0;
}

.kaufman__triangle{
  background-image: url(../images/kaufman-triangle.svg);
  background-size: cover;
  width: 877px;
  height: 877px;
  position: absolute;
  top: 0px;
  right: -210px;
}

.footer{
  display: flex;
  background-color:  #1f1f1f;
  color: white;
  }

.footer__columns{
  width: 90%;
  min-height: 350px;
  display: flex;
  flex-direction: row;
  margin: 60px auto 40px;
}

.footer__column_content_copyright{
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
}

.logo__place_footer{
  background-image: url(../images/logo_place_footer.svg);
  width: 183px;
  height: 35px;
}

.footer__author{
  padding: 18px 0;
}

.footer__columns_right{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.footer__column_content_info{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  }

.footer__column-heading{
  color: white;
  margin: 0 0 20px;
  padding: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
}

.footer__column-link{
  color: white;
  list-style-type: none;
  list-style-position: inside;
  padding: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: 100;
}

.footer__column_content_social{
  display: flex;
  flex-direction: column;
}

.footer__social-icon{
  width: 16px;
  height: 16px;
  color: white;
  margin-right: 10px;
}
